@charset "UTF-8";
/*css 初始化 */
*{
    padding:0;
    margin: 0;
}
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}
body{
    background-color: #f8f8f8;
    font-family: "Microsoft YaHei";
}
fieldset, img, input, button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol {
    list-style: none;
}
a{
    text-decoration: none;
}
input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "Microsoft YaHei";
}

select, input {
    vertical-align: middle;
}

textarea {
    resize: none;
}

/*防止拖动*/
img {
    border: 0;
    vertical-align: middle;
}

/*  去掉图片低测默认的3像素空白缝隙*/
table {
    border-collapse: collapse;
}

.fl {
    float: left
}

.fr {
    float: right
}

.tal {
    text-align: left
}

.tac {
    text-align: center
}

.tar {
    text-align: right
}

.hide {
    display: none
}
.bgc-b{
    background-color: #ec252f;
}
.c-b{
    color: #333333;
}
.c-w{
    color: #ffffff;
}

/*顶部导航*/
.top-nav-up{
    width: 100%;
    height: 30px;
    background-color: #f2f2f2;
}
.top-nav-inner{
    width: 1100px;
    height: 30px;
    margin: 0 auto;
}
.top-nav-inner2{
    width: 1100px;
    height: 100px;
    margin: 0 auto;
}
.inner-phone{
    width: 180px;
    line-height: 30px;
    font-size: 12px;
    color: #777;
}
.inner-tradetime{
    width: 350px;
    line-height: 30px;
    font-size: 12px;
    color: #777;
}
.inner-account{
    width: 175px;
    height: 30px;
    margin-right: 17px;
}
.inner-account-name{
    float: left;
    width: 95px;
    height: 30px;
    font-size: 14px;
    color: #333;
    line-height: 30px;
    cursor: pointer;
    /*background-color:lightblue;*/
}
.inner-account-megicon{
    width: 23px;
    height: 22px;
    margin-top: 4px;
    background: url("../images/info-center.png")no-repeat center center;
    cursor: pointer;
}
.inner-account-log{
    width:30px;
    height: 16px;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    margin-top: 7px;
    color: #333;
    cursor: pointer;
}
.inner-account-quit{
    width: 46px;
    height: 16px;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    margin-top: 7px;
    color: #333;
    cursor: pointer;
    border-left: 1px solid #777;
}
.inner-hello {
    width: 250px;
    line-height: 30px;
    font-size: 12px;
    color: #777;
}

.inner-unlogin
{
    width: 250px;
    line-height: 30px;
    font-size: 12px;
    color: #777 !important;
    margin-right: 20px;
}
.top-nav-down{
    width: 100%;
    height: 70px;
    background-color: white;
    border-bottom: 1px solid #ddd;
}
.nav-logo {
    width: 300px;
    height: 70px;
    /*background-color: lightblue;*/
    line-height: 70px;
}
.nav-account{
    width: 170px;
    height: 70px;
    margin-right: 30px;
    margin-left: 46px;
    /*background-color: orange;*/
}
.account-name{
    position: relative;
    width: 125px;
    font-size: 14px;
    color: #333;
    line-height: 70px;

}
.account-quit{
    position: relative;
    width: 38px;
    height: 17px;
    top: 26px;
    font-size: 14px;
    line-height: 17px;
    color: #333;
    cursor: pointer;
    /*margin-top: 42px;*/
    border-left: 1px solid #777;
    /*background-color: orange;*/
}
.nav-account img{
    position: absolute;
    left: 100px;
    top: 25px;
    cursor: pointer;
}
.nav-account span{
    cursor: pointer;
}
.menu{
    height: 70px;
    width: 430px;
    line-height: 70px;
}

.menu a{
    display: block;
    float: left;
    width: 91px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 14px;
    color: #333;
}
.menu a:hover{
    background-color: #ec252f;
    color: white;
}
.af{
    width: 60px !important;
    margin-left:0 !important;
    background-color: #ec252f !important;
    color: white !important;
}

.an{
    font-size: 12px;
    color: #777 !important;
    margin-left: 16px;
}

/*底部*/
.buttom{
    width: 100%;
    height: 270px;
    margin-top: 20px;
    background-color: #eaeaea;
}
.buttom-inner{
    width: 1100px;
    height: 270px;
    margin: 0 auto;
    /*background-color: orange;*/
}
.buttom-l{
    width: 599px;
    height: 210px;
    margin-top: 26px;
    /*margin-left: 100px;*/
    /*background-color: orange;*/
    border-right: 1px solid #ccc;
}
.buttom-r{
    width: 500px;
    height: 210px;
    margin-top: 26px;
    /*margin-right: 100px;*/
    /*background-color: orange;*/
}
.buttom-menu{
    width: 70px;
    height: 212px;
    margin-right: 108px;
    /*background-color: orange;*/
}
.buttom-menu ul a{
    display: block;
    width: 70px;
    height: 25px;
    text-align: left;
    font-size: 12px;
    color: #777;
    line-height: 25px;
}
.bm-l-title{
    font-weight: bold;
    font-size: 16px !important;
    color: #656565 !important;
    margin-top: 20px !important;
}
.buttom-menu-ro{
    width: 102px;
    height: 158px;
    margin-left: 94px;
    /*background-color: lightblue;*/
}
.buttom-menu-ro img{
    margin-left: 5px;
}
.buttom-menu-ro ul a{
    display: block;
    width: 102px;
    font-size: 12px;
    line-height: 12px;
    margin-top: 30px;
    color: #777777;
    cursor: default;
}
.buttom-menu-rt{
    width: 200px;
    height: 158px;
    margin-left: 84px;
}

.buttom-menu-rt img{
    margin-left: 5px;
}
.buttom-menu-rt ul a{
    cursor: default;
    display: block;
    /*float: left;*/
    width: 200px;
    font-size: 12px;
    line-height: 12px;
    margin-top: 30px;
    color: #777777;
}

.bm-r-title{
    font-weight: bold;
    font-size: 16px !important;
    line-height: 16px !important;
    color: #656565 !important;
}

/*弹出框*/
.alert-public{
    display: none;
    position: absolute;
    width: 100%;
    height: 1160px;
    top:0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}
.alert-msg{
    position: relative;
    width: 600px;
    height: 400px;
    margin: 0 auto;
    margin-top: 280px;
    border: 1px solid #cccccc;
    background-color: #fff;
}
.alert-top{
    width: 600px;
    height: 70px;
    border-bottom: 1px solid #cccccc;
}
.alert-top-name{
    width: 155px;
    height: 70px;
    text-align: center;
    font-size: 16px;
    line-height: 70px;
    color: #666666;
}
.alert-down{
    width: 600px;
    height: 330px;
}
.alert-down-l{
    float: left;
    width: 200px;
    height: 250px;
    margin-top: 70px;
    /*background-color: orange;*/
}
.alert-down-r{
    float: left;
    width: 300px;
    height: 250px;
    margin-left: 30px;
    margin-top: 70px;
    /*background-color: lightblue;*/
}
.adl-name{
    width: 200px;
    height: 25px;
    /*background-color: lightblue;*/
    font-size: 16px;
    line-height: 25px;
    color: #666666;
}
.adl-info{
    width: 200px;
    height: 25px;
    margin-top: 40px;
    font-size: 16px;
    line-height: 25px;
    color: #666666;
    /*background-color: lightblue;*/
}
.adr-name{
    width: 300px;
    height: 25px;
    font-size: 22px;
    line-height: 25px;
    color: #333;
}
.adr-money{
    width: 300px;
    height: 25px;
    margin-top: 40px;
    font-size: 22px;
    line-height: 25px;
    color: #ff5050;
}
.adr-info{
    width: 300px;
    height: 25px;
    margin-top: 20px;
    font-size: 18px;
    line-height: 25px;
    color: #aaa;
}
.adr-info span{
    color: #ff6445;
}
.adr-button{
    width: 120px;
    height: 38px;
    margin-top: 20px;
    background-color: #ff4c55;
    text-align: center;
    font-size: 16px;
    line-height: 38px;
    color: #ffffff;
}
.adr-button:hover{
    background-color: #ec252f;
}

.alert-two-title{
    width: 600px;
    height: 100px;
    margin-top: 40px;
    /*background-color: orange;*/
    text-align: center;
    font-size: 20px;
    line-height: 100px;
    color: #666666;
}
.alert-two-btns{
    width: 360px;
    height: 50px;
    margin: 0 auto;
    margin-top: 50px;
    /*background-color: orange;*/
}
.alert-two-btn{
    width: 150px;
    height: 50px;
    background-color: #ff4c55;
    text-align: center;
    font-size: 18px;
    line-height: 50px;
    color: #fff;
}
.alert-two-btn:hover{
    background-color: #ec252f;
}
/*箭头*/
.cc-ar{
    float: left;
    width: 0;
    height: 0;
    border-top: 22px solid transparent;
    border-left: 15px solid #ececec;
    border-bottom: 22px solid transparent;
}
.cc-al{
    float: left;
    width: 0;
    height: 0;
    /*margin-right: -5px;*/
    border-top: 22px solid transparent;
    border-left: 15px solid white;
    border-bottom: 22px solid transparent;
}