.content{
    width: 1100px;
    height: 1256px;
    margin: 0 auto;
    margin-top: 12px;
    background-color: #fff;
    border: 1px solid #dddddd;
}
.cl-menu{
    width: 229px;
    height: 1256px;
    border-right: 1px solid #dddddd;
}
.cr-main{
    width: 870px;
    height: 1256px;
}
.cl-menu-dis{
    width: 229px;
    height: 90px;
    font-size: 20px;
    line-height: 90px;
    background-color: #0098d7;
    color: white;
}
.cl-menu-fun{
    width: 229px;
    height: 64px;
    font-size: 16px;
    line-height: 64px;
    border-bottom: 1px solid #dddddd;
}
.c-b:hover{
    background-color: #afe6ff;
}
.cr-main-top{
    width: 870px;
    height: 264px;
    /*background-color: orange;*/
}
.cr-main-title{
    width: 834px;
    height: 42px;
    margin-left: 18px;
    border-bottom: 1px solid #dddddd;
    font-size: 20px;
    line-height: 42px;
    color: #333;
}
.cr-main-notie-title{
    width: 560px;
    height: 16px;
    margin-top: 28px;
    margin-left: 64px;
    font-size: 16px;
    line-height: 16px;
    color: #ff6445;
}
.cr-main-notie{
    width: 560px;
    height: 90px;
    margin-top: 17px;
    margin-left: 64px;
    font-size: 16px;
    color: #333333;
    line-height: 30px;
}
.bill-detail{
    width: 834px;
    height: 26px;
    margin-left: 18px;
    margin-top: 43px;
    font-size: 14px;
    border-bottom: 1px solid #dddddd;
    color: #666;
}
.cr-main-buttom{
    width: 870px;
    height: 992px;
    /*background-color: orange;*/
}
.cr-main-buttom-inner{
    width: 680px;
    height: 900px;
    margin-top: 16px;
    margin-left: 108px;
    /*background-color: orange;*/
}
.buttom-inner-row{
    width: 680px;
    height: 32px;
    margin-top: 20px;
    /*background-color: lightcyan;*/
}
.buttom-inner-row-l{
    width: 680px;
    height: 38px;
    margin-top: 20px;
    /*background-color: lightcyan;*/
}
.buttom-inner-row-l-inner{
    width: 400px;
    height: 38px;
    margin-left: 138px;
    /*background-color: orange;*/
}
.row-btn{
    float: left;
    width: 120px;
    height: 38px;
    margin-right: 30px;
    background-color: #00aeff;
    font-size: 14px;
    line-height: 38px;
    color: #fff;
}
.row-btn:hover{
    background-color: #007ad8;
}

.inner-row-title{
    width: 110px;
    height: 32px;
    text-align: right;
    font-size: 14px;
    color: #666666;
    line-height: 30px;
}
.inner-row-title span{
    color: #ff7155;
}
.inner-row-input{
    width: 260px;
    height: 32px;
    margin-left: 28px;
}
.select-file{
    position: relative;
    float: left;
    width: 36px;
    height: 26px;
    margin-top: 3px;
    margin-left: 7px;
    line-height: 26px;
    font-size: 15px;
    color: #ffffff;
    background-color: #FF6445;
    z-index: 1;
}
.select-file:hover{
    background-color: #ff8871;
}
.uploadfile{
    position:absolute;
    left: 0;
    top:0;
    filter:alpha(opacity:0);opacity: 0;
    z-index: 0;
    cursor: pointer;
}
.uploadfile-bill{
    position: absolute;
    left: 0;
    height: 30px;
    filter:alpha(opacity:0);opacity: 0;
}
.inner-row-text{
    width: 460px;
    height: 32px;
    margin-left: 28px;
    font-size: 14px;
    line-height: 32px;
    text-align: left;
    color: #666666;
}
.inner-row-text span{
    color: #ff7155;
}
.inner-row-input .input-l{
    width: 260px;
    height: 30px;
    border: 1px solid #aaa;
    font-size: 14px;
    color: #b6bfc5;
    text-indent:8px
}
.inner-row-input .yuan-input{
    float: left;
    width: 220px;
    border-right: none;
}
.yuan{
    float: left;
    width: 38px;
    height: 30px;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    color: #ff7155;
    text-indent:8px;
    border: 1px solid #aaaaaa;
    border-left: none;
}
.inner-row-input .input-s{
    float: left;
    width: 150px;
    height: 30px;
    border: 1px solid #aaa;
    font-size: 14px;
    color: #b6bfc5;
    text-indent:8px
}
.inner-row-input .yuan-input-s{
    float: left;
    width: 110px;
    border-right: none;
}
.choose-date{
    float: left;
    width: 24px;
    height: 24px;
    margin-top: 4px;
    margin-left: 10px;
    background: url("../images/date.png")no-repeat center center;
}
.choose-date:hover{
    background: url("../images/date-hover.png")no-repeat center center;
}
.input-radio{
    float: left;
    width: 14px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    color: #666666;
    /*background-color: orange;*/
}
.i-ensure{
    float: left;
    width: 85px;
    height: 30px;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    color: #666666;
}
.bill-file{
    position: relative;
    float: left;
    width: 78px;
    height: 30px;
    margin-top: 1px;
    font-size: 14px;
    line-height: 30px;
    color: #ffffff;
    background-color: #ff6445;
}
.bill-file:hover{
    background-color: #ff8871;
}
.getfile-suc{
    display: none;
    float: left;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    background-color: orange;
}
.max-filenum{
    float: left;
    width: 100px;
    height: 32px;
    margin-left: 24px;
    font-size: 14px;
    line-height: 32px;
    color: #666666;
}