.bold {
    font-weight:bold;
}

.one-line{
    width:100%;
    height:2px;
    margin:0px auto;
    padding:0px;
    background-color:#D5D5D5;
    overflow:hidden;
}

.account-login{
    position: relative;
    width: 50px;
    font-size: 14px;
    color: #333;
    line-height: 70px;

}

.account-quit{
    position: relative;
    /*width: 44px;*/
    height: 17px;
    font-size: 14px;
    line-height: 17px;
    color: #333;
    cursor: pointer;
    margin-top: 0.7px;
    border-left: 1px solid #777;
}

.banner {
    width:100%;
    height: 500px;
}

.bulletin {
    margin-right: auto;
    margin-left: auto;
    width : 100%;
    height: 80px;
    /*border: solid 1px rgba(0,0,0,0.15);*/
}

.bulletin-content {
    padding-top: 25px;
    text-align: center;
    vertical-align:middle;
    font-size: 20px;
}

.bulletin-dist {
    margin-left: 106px;
}

.bulletin-etc-dist {
    margin-left: 88px;
}

.bulletin-date-dist {
    margin-left: 36px;
}

.bulletin-l {
    width: 776px;
    height: 328px;
    float: left;
    border: solid 1px #dddddd;

}

.bulletin-r {
    width: 320px;
    height:328px;
    border: solid 1px #dddddd;
    float: right;
    display:inline;
}

.description {
    margin-right: auto;
    margin-left: auto;
    width : 100%;
    height: 392px;
    background-color: white;
}

.description-dist-l {
    margin-left: 74px;
}

.description-dist {
    margin-left: 205px;
}


.bid {
    margin-top: 28px;
    margin-right: auto;
    margin-left: auto;
    width : 100%;
    height: 490px;
    border: solid 1px #00bbee;
}

.progress {
    margin-right: auto;
    margin-left: auto;
    width : 100%;
    height: 250px;
    background-color: #F8F9FB;
    /*border: solid 1px #00bbee;*/
}

.progress-content
{   padding-top: 27px;
    padding-left:330px;
    font-size: 24px;

}

.cash {
    margin-top: 34px;
    margin-right: auto;
    margin-left: auto;
    width : 100%;
    height: 230px;
    border: solid 1px #00bbee;
}

.img-security {

}

.box {
    width: 46px;
    height: 100px;
    background-color: white;
    position: fixed;
    margin:auto;
    right:0;
    top:400px;
    bottom:0;
}

.wechat {
  width: 100%;
}

.calc {
    padding-top: 4px;
    width: 100%;
}

.inline {
    display: inline;
}

.flow {
    width: 100%;
    border: solid 1px #ccc;
}